*{
    --light-black: #262626;
    --black: #000;
    --white: #fff;
}

body{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.nav-wrapper{
    font-size: 13px;
    font-weight: 400;
}

.nav-wrapper .navbar-brand {
    padding-top: 0;
}

.nav-wrapper .navbar-brand img{
    height: 20px;
}

.nav-item{
  margin: 6px;
  display: flex;
  align-items: center !important ;
}

.nav-wrapper .nav-link{
    color: var(--light-black);
    padding: 0!important;
    border: 2px var(--white) solid ;
}

.navbar-nav li.nav-item:not(.no-underline) a.nav-link:hover {
  border-bottom: var(--black) solid 2px;
}

.fa-magnifying-glass{
    transform: rotate(90deg);
}

.nav-icon{
    padding: 0 6px;
    color: var(--black);
}

