*{
    --light-black: #262626;
    --black: #000;
    --white: #fff;
    --light-gray: #f2f2f2;
    --ms-blue: #0067b8;
    --hover-blue: #005a9e;
    --footer-list-brown: #616161;
}

body{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.nav-wrapper{
    font-size: 12px;
    font-weight: 400;
}

.nav-wrapper .navbar-brand {
    padding-top: 0;
}

.nav-wrapper .navbar-brand img{
    height: 20px;
}

.nav-item{
  margin: 6px;
  display: flex;
  align-items: center !important ;
}

.nav-wrapper .nav-link{
    color: var(--light-black);
    padding: 0!important;
    border: 2px var(--white) solid ;
    display: inline;
}

.navbar-nav li.nav-item:not(.no-underline) a.nav-link:hover {
  border-bottom: var(--black) solid 2px;
}

.fi-rr-search{
    transform: rotate(90deg);
}

.nav-icon{
    padding: 0 4px;
    color: var(--black);
}

.dropdown-menu{
  width: 900px;
  font-size: 11px;
  font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: var(--light-gray);
}


.dropdown-menu li ul{
  list-style: none;
  margin: 0 20px;
  padding-left: 0;
  padding: 0 15px;
}

.dropdown-menu li ul li{
  padding: 10px 0;
  width: 80px;
}

.dropdown-menu li ul li p{
  color: var(--light-black);
  font-weight: 600;
  margin: 0;
  cursor: pointer;
}

.dropdown-menu li ul li a{
  text-decoration: none;
  color: var(--light-black);
  transition: border-bottom 0.3s ease-in-out;
}

.dropdown-menu li ul li a:hover{
  border-bottom: var(--black) solid 1px;
}

.carousel-indicators{
  bottom: 5px;
  z-index: 1;
}

.carousel-indicators [data-bs-target]{
  width: 6px;
  height: 6px;
  margin: 0 5px;
  border-radius: 100%;
  border: var(--black) solid;
  background-color: transparent;
}

.carousel-indicators .active{
  background-color: var(--black);
}

.carousel-buttons{
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}


.carousel-button-left, .carousel-button-right{
  margin: 10px 30px;
  background-color: transparent;
  transition: all ease-in-out .3s;
  border: 0;
}

.carousel .carousel-button-left:hover {
	-webkit-transform: translateX(-10px);
	transform: translateX(-10px);
}


.carousel .carousel-button-right:hover {
	-webkit-transform: translateX(10px);
	transform: translateX(10px);
}

.carousel-button-left .material-symbols-outlined,
.carousel-button-right .material-symbols-outlined {
  font-size: 19px; 
}

.carousel-item{
  position: relative;
  font-size: 12px;
}

.carousel-caption{
  position: absolute;
  width: 400px;
  height: 200px;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  left: 10%;
  color: var(--black);
}

.layout-text{
  text-align: left;
}

.layout-text ul{
  display: flex;
  padding: 5px 0;
}

.layout-text ul li{
  list-style-type: none;
  -webkit-transition: width 2s, -webkit-transform 2s;
}

.layout-text ul li.layout-li-first:hover{
  background-color: var(--hover-blue);
}


.layout-li-first{
  background-color: var(--ms-blue);
  display: inline-block;
  padding: 10px 20px;
  border: none;
  font-weight: 500;
}

.layout-li-second{
  padding: 10px 20px;
  font-weight: 500;
}

.layout-text ul li a{
  text-decoration: none;
}

.layout-li-first a{
  color: var(--white);
}

.layout-li-second a{
  color: var(--black);
}

.layout-li-second a:hover{
  text-decoration: underline;
  color: var(--black);
}


.list-group li.list-group-item{
  font-size: 11px;
  margin: 4px 0;
}

.list-group li.list-group-item a{
  text-decoration: none;
  color: var(--footer-list-brown);
  transition: all ease-in-out 0.3s;
}

.list-group li.list-group-item a:hover{
  text-decoration: underline solid var(--footer-list-brown);
}

@media  screen and (max-width: 991.98px) {

  .dropdown-menu li{
    display: block !important;
  }

  .dropdown-menu{
    width: 300px;
    border: 0;
  }

  .nav-item{
    display: block;
  }

  .carousel-caption{
    font-size: 11px;
    width: 300px;
    height: 70px;
    top: 30%;
    transform: translateY(-50%);
    left: 10%;
  }

}

@media  screen and (max-width: 768px){
  .carousel-caption{
    font-size: 8px;
    width: 200px;
    top: 20%;
    transform: translateY(-50%);
  }

  .layout-text h2{
    font-size: 11px;
  }

  .layout-li-first{
    padding: 5px 10px;
    font-weight: 400;
  }
  
  .layout-li-second{
    padding: 5px 10px;
    font-weight: 400;
  }
}
